{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title> Personal Schedule </title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styling.css' %}"> 
</head>

<body>
	<header>
		{% include "navbar.html" %}
	</header>

	<div class="black_screen">
		<header class="header2"> <h2><STRONG> Personal Schedule Tool </STRONG></h2></header>

		<div class="container9">
			<div class="guestbook-container">
				<h2>My activities</h2>
				<div class="table-responsive">
					<table class = "table">
						<thead> 
						  	<th> Name </th>
						  	<th> Date </th>
						  	<th> Place </th>
						  	<th> Category </th>
						  	</thead>
						  	<tbody>
						  		{% for e in events %}
						  		<tr>
						  			<td> {{e.name}}</td>
						  			<td> {{e.date|date:"l, j F Y"}}</td>
						  			<td> {{e.place}}</td>
						  			<td> {{e.category}}</td>
						  		</tr>
						  		{% endfor %}
						  	</tbody>
					</table>
				</div>
			</div>
		</div>

	<div class = "container p-5">
		<h3>Add new event</h3>
		<form method="post">
			{% csrf_token %}
			{{ form | crispy }}
				<button type="submit" class="btn btn-primary">Add event</button>		
			</form>

			<form method="post" action={% url 'delete_all_events'%}>
				{% csrf_token %}
				<button type= "submit" class="btn btn-danger" >Delete all event</button>
			</form>
		</div>
	</body>
</html>




			 