{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title> Guest Book </title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styling.css' %}"> 
</head>

<body> 

	
	<header>
		{% include "navbar.html" %}
	</header>



	<div class="black_screen">
		<header class="header2">Guest Book</header>
		<div class=container9>
			<div class="guestbook-container">
			  <h2>Please fill out this form to continue viewing my website :D !</h2>
			  <br>
			  <form>
			    <div class="form-group">
			      <label for="usr">Name:</label>
			      <input type="text" class="form-control" id="usr">
			    </div>
			    <div class="form-group">
			    	<label for ="date"> Date: </label>
			    	<input type="date" class="form-control" id="date">
			    </div>
			    <div class="form-group">
			    	<label for ="email"> Email: </label>
			    	<input type="text" class="form-control" id="email">
			    </div>
			    <div class="form-group">
			      <label for="sbjct">Subject:</label>
			      <input type="text" class="form-control" id="sbjct">
			    </div>
			    <div class="form-group">
			      <label for="mssg">Message:</label>
			      <input type="text" class="form-control" id="mssg">
			    </div>
			    <button type="submit" class="btn btn-default">Submit</button>
			  </form>
			</div>
		</div>
	</div>
</body>
</html>
