{% load static %}
<!DOCTYPE html>

<html lang="en">

<!--
<style type="text/css">
	body{
		background-image: url("{% static 'images/aset_home.jpg' %}");
	}
</style>

-->


<head>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title> Hendrick Putra </title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styling.css' %}"> 
</head>


<body>

<!--Header-->
	<header>
		{% include "navbar.html" %}
	</header>
<!--
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>                        
		      </button>
		      <p class="navbar-text" style="color: #F0594A"><STRONG>Hendrick Putra's Site</STRONG></p>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
		     	<ul class="nav navbar-nav">

		     		<li class="active"><a href="{% url 'home' %}">Home</a></li>
		     		<li><a href="{% url 'guestbook' %}">Guest Book</a></li>
		        	<li><a href="{% url 'visualdesign' %}">Visual Design</a></li>
		        	<li><a href="{% url 'videography' %}">Videography</a></li>
		      	</ul>
		    </div>
		  </div>
		</nav>

-->
	<div class = "first_screen">

		<div class = "container">
			<h2> Hello! Welcome to my website.. </h2>
			<div class="hendrick_photo">
				<img src = "{% static 'images/hendrick_photo.png'%}">
			</div>
		</div>
		<footer class="footer">
			<a href = #profile> Profile /</a>
			<a href = #experience> Experience /</a>
			<a href = #interest> Interest /</a>
			<a href = #achievement> Achievement /</a>
			<a href = #contact> Contact </a>
		</footer>
</div>

<div id="profile">
	<div class = "second_screen">
		<header class="header">Profile </header>
		<div class = "container2">
			<h2> My name is </h2>
			<h1> I Kade <STRONG> Hendrick Putra </STRONG> Kurniawan </h1>
			<p> and... just call me Hendrick </p>
		</div>
	</div>
</div>

<div class="black_screen">
	<header class="header">Profile</header>
	<div class="container3"> 
		<div class="left_column">
			<img src = "{% static 'images/image1.png' %}">
		</div>

		<div class="right_column">
			<h4><STRONG> Have a good experience in Leaderships,<br> Visual Design and Cinematography </STRONG></h4>
			<p>Leader’s team with +3 years of experience <br> since Senior High School. I am proficient at <br> communicating, building, and maintaining <br> professional relationships. Moreover, I am also <br> proficient with Adobe Photoshop and Premiere.</p>
			<br>
			<h4> <STRONG> Place and Date of Birth </STRONG></h4>
			<p> Rejasa, March 11th 1999 </p>
			<br>
			<h4> <STRONG> Nationality </STRONG></h4>
			<p> Indonesia </p>
		</div>	
	</div>
	<footer class="footer">
		<a href = #profile> Profile /</a>
		<a href = #experience> Experience /</a>
		<a href = #interest> Interest /</a>
		<a href = #achievement> Achievement /</a>
		<a href = #contact> Contact </a>
	</footer>
</div>


<div class="black_screen">
	<header class="header">Profile</header>
	<div class="container3"> 
		<div class="left_column">
			<img src = "{% static 'images/image2.png' %}">
		</div>

		<div class="right_column">
			<h4><STRONG> Address </STRONG></h4>
			<p>Jl. Gatot Subroto 1 / XV / No. 6 East <br> Denpasar, Denpasar, Bali.<br> During study in Universitas Indonesia,<br> currently living at Jl. H. Amat Raya <br> No.3, Kukusan - Beji, Depok, West<br> Java.</p>
			<br>
			<h4><STRONG> Education </STRONG></h4>
			<p> 2017 - Present﻿ </p>
			<p> Bachelor Degree of Informatic System<br> University of Indonesia</p>
			<p> 2015 - 2017 </p>
			<p> SMAN 4 Denpasar </p>
		</div>	
	</div>
	<footer class="footer">
		<a href = #profile> Profile /</a>
		<a href = #experience> Experience /</a>
		<a href = #interest> Interest /</a>
		<a href = #achievement> Achievement /</a>
		<a href = #contact> Contact </a>
	</footer>
</div>

<div id = "experience">
	<div class="black_screen">
		<header class="header">Experience</header>
		<div class="container4"> 
			<h4> ORGANIZATION AND COMMITTEE</h4>
			<br>
			<img src = "{%static 'images/ristek.png'%}">
			<p><STRONG>Project Management</STRONG></p>
			<p><i> RISTEK Fasilkom UI </i></p>
			<img src = "{% static 'images/hfg.png' %}" style="width:70px;height: 80px">
			<p><STRONG> Person in Charge of Design </STRONG></p>
			<p><i> HFG KMHD UI </i></p>
			<br>
			<h4> INTERNSHIP </h4>
			<br>
			<img src = "{% static 'images/karvelo.png' %}" style="width:70px;height: 70px">
			<p><STRONG> Customer Support </STRONG></p>
			<p><i> KARVELO Pulsa </i></p>
		</div>
		<footer class="footer">
			<a href = #profile> Profile /</a>
			<a href = #experience> Experience /</a>
			<a href = #interest> Interest /</a>
			<a href = #achievement> Achievement /</a>
			<a href = #contact> Contact </a>
		</footer>
	</div>
</div>

<div id="interest">

	<div class="black_screen">
		<header class="header">Interest</header>
		<div class="container5">
			<div class="row1">
				<img src="{% static 'images/aset_ppw_traveling.png' %}">
				<img src="{% static 'images/aset_ppw_and.png' %}"> 
				<img src="{% static 'images/aset_ppw_books.png' %}"> 
				<img src="{% static 'images/aset_ppw_movies.png' %}"> 
				<img src="{% static 'images/aset_ppw_music.png' %}"> 
				<img src="{% static 'images/aset_ppw_sports.png' %}"> 
			</div>
		</div>
		<footer class="footer">
			<a href = #profile> Profile /</a>
			<a href = #experience> Experience /</a>
			<a href = #interest> Interest /</a>
			<a href = #achievement> Achievement /</a>
			<a href = #contact> Contact </a>
		</footer>
	</div>
</div>

<div id = "achievement">
	<div class="black_screen">
		<header class="header">Achievement</header>
		<div class="container6">
			<h4> 2018 - Present </h4>
			<p> • Best staff of Visual Design in CGT Fasilkom UI • Speaker on Sharing Session TOS UI Bali </p>
			<br>
			<h4> 2017 - 2018 </h4>
			<p> • 3rd place of Mekekawin Competition at Telkom University </p>
			<br>
			<h4> 2016 - 2017 </h4>
			<p> • Nominated Best Actor in Topenk Party •	1st Place of best performance in Topenk Party </p>
		</div>
		<footer class="footer">
			<a href = #profile> Profile /</a>
			<a href = #experience> Experience /</a>
			<a href = #interest> Interest /</a>
			<a href = #achievement> Achievement /</a>
			<a href = #contact> Contact </a>
		</footer>
	</div>
</div>

<div id = "contact">
	<div class="black_screen">
		<header class="header">Contact</header>
		<div class="container7"> 
			<img src = "{% static 'images/aset_ppw_telepon.png' %}"> 
			<p><STRONG>0895345703144</STRONG></p>
			<br>
			<img src = "{% static 'images/aset_ppw_linkedin.png' %}"> 
			<p><STRONG>hendrick-putra-412751159</STRONG></p>
			<br>
			<img src = "{% static 'images/aset_ppw_instagram.png' %}"> 
			<p><STRONG> hendrick.putra </STRONG></p>
		</div>
		<footer class="footer">
			<a href = #profile> Profile /</a>
			<a href = #experience> Experience /</a>
			<a href = #interest> Interest /</a>
			<a href = #achievement> Achievement /</a>
			<a href = #contact> Contact </a>
		</footer>
	</div>
</div>


<div class="last_screen">
	<header class="header">Thank You!</header>
	<div class = "container8">
		<h3> " The ocean is everything I want to be.<br><br>Beautiful, mysterious, wild, and free."</h3>
	</div>
</div>



</body>

</html>