<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		   		<span class="icon-bar"></span>
		    	<span class="icon-bar"></span>
		        <span class="icon-bar"></span>                        
		    </button>
		    <p class="navbar-text" style="color: #F0594A"><STRONG>Hendrick Putra's Site</STRONG></p>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a href="{% url 'home' %}">Home</a></li>
		     	<li><a href="{% url 'guestbook' %}">Guest Book</a></li>
		        <li><a href="{% url 'visualdesign' %}">Visual Design</a></li>
		        <li><a href="{% url 'videography' %}">Videography</a></li>
		        <li><a href="{% url 'personalSchedule' %}">Activities</a></li>
			</ul>
		</div>
	</div>
</nav>