{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title> videography </title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styling.css' %}"> 
</head>



<body>

<!--Header-->
	<header>
		{% include "navbar.html" %}
	</header>
<header class="header">Video Project</header>

<div class="black_screen">
	<div class="container_video">
		<video width="320" height="240" controls><source src="{% static 'video/promise.mp4'%}" type="video/mp4"></video>
			<video width="320" height="240" controls><source src="{% static 'video/gardensbythebay.mp4'%}" type="video/mp4"></video>
				<video width="320" height="240" controls><source src="{% static 'video/pekenbadung.mp4'%}" type="video/mp4"></video>

			<!--
		  <source src="video/promise.mp4" type="video/mp4">
		  <source src="video/pekenbadung.mp4" type="video/mp4">
		  Your browser does not support the video tag.
		-->
	</div>
</div>
</body>

</html>