{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title> Guest Book </title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styling.css' %}"> 
</head>

<body>
<!--
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
                </button>
                <p class="navbar-text" style="color: #F0594A"><STRONG>Hendrick Putra's Site</STRONG></p>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'guestbook' %}">Guest Book</a></li>
                    <li class="active"><a href="{% url 'visualdesign' %}">Visual Design</a></li>
                    <li><a href="{% url 'videography' %}">Videography</a></li>
                </ul>
            </div>
        </div>
    </nav>
-->

<!--Header-->
    <header>
        {% include "navbar.html" %}
    </header>

<!-- Photo Grid -->
<div class="black_screen">
    <header class="header2">Visual Design Project</header>
    <div class="row"> 
      <div class="column">
        <img src="{% static 'images/isramiraj.png'%}" style="width: 100%">
        <img src="{% static 'images/nyepi.png'%}" style="width:100%">
        <img src="{% static 'images/yesus.png'%}" style="width:100%">
        <img src="{% static 'images/gongxi.png'%}" style="width:100%">
      </div>
      <div class="column">
        <img src="{% static 'images/kartini.png'%}" style="width:100%">
        <img src="{% static 'images/welmab.png'%}" style="width:100%">
        <img src="{% static 'images/hfg2.png'%}" style="width:100%">
        <img src="{% static 'images/gathering.png'%}" style="width:100%">
      </div>  
      <div class="column">
        <img src="{% static 'images/isramiraj.png'%}" style="width: 100%">
        <img src="{% static 'images/nyepi.png'%}" style="width:100%">
        <img src="{% static 'images/yesus.png'%}" style="width:100%">
        <img src="{% static 'images/gongxi.png'%}" style="width:100%">
      </div>
      <div class="column">
        <img src="{% static 'images/kartini.png'%}" style="width:100%">
        <img src="{% static 'images/welmab.png'%}" style="width:100%">
        <img src="{% static 'images/hfg2.png'%}" style="width:100%">
        <img src="{% static 'images/gathering.png'%}" style="width:100%">
      </div>
    </div>
</div>

</body>
</html>