body {
	margin:0px;
	background-color:#f0594a;
	font-family: lato;
}


.first_screen{
	background-image: url("/static/images/aset_home.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center center;
}

.container {
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 600px;
	flex-wrap: wrap;
	align-content:space-between;
	color:white;
}


.hendrick_photo {
	display:flex;
	justify-content: center;
	align-items: center;
	height:500px;
}

.hendrick_photo>img{
	
	width: 500px;
	height: 500px;

}
.guestbook-container{
	margin:auto;
}
.footer{
	text-align: center;
}

.second_screen{
	background-image: url("/static/images/background2.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center center;
}
.header{
	background-color:#f0594a;
	text-align: center;
	height: 55px;
	font-size:25px;
	padding-top: 10px;
}

.header2{
	background-color:#f0594a;
	text-align: center;
	height: 25px;
	font-size:25px;
	padding-bottom: 50px;

}

.container2{
	display:flex;
	flex-flow:column wrap;
	height: 600px;
	color: white;
}
.container2 > h2 {
  	padding-top: 200px;
  	padding-left: 90px;
  	font-size: 40px;

}

.container2 > h1 {
	text-align: center;
}

.container2 > p {
	text-align: center;
	font-family: helvetica;
}

.black_screen{
	background-image: url("/static/images/black.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center center;
}

.container3{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 600px;
	color: white;
}

.left_column{
	width:500px;
	margin:auto;
}
.left_column>img{
	height:550px;
	width: 700px;
}

.right_column{
	width:300px;
	margin:auto;
}

.container4{
	height:600px;
	text-align: center;
	color: white;
	padding-top: 50px;
}

.container4>img{
	height: 70px;
	width: 40px;
}

.container5{
	height: 600px;
}

.row1{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 200px;
}

.row1>img{
	width: 100px;
	height: 100px;
}

.container6{
	height: 600px;
	text-align: center;
	color:white;
	padding-top:150px;
}

.container7{
	height: 600px;
	text-align: center;
	color: white;
	padding-top: 50px;
}

.container7>img{
	height: 100px;
	width:100px;
}
.last_screen{
	background-image: url("/static/images/pantai.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center center;
}
.container8{
	height: 600px;
	text-align: center;
	color: white;
	padding-top: 150px;
}

.container9{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 610px;
	color: white;
}
.container9 > guestbook-container{
	margin:20px;
}

.container_video{
	display:flex;
	flex-wrap: wrap;
	height: 600px;

}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}



/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 375px){

	.hendrick_photo > img{
		height: 300px;
		width:300px;
	}
	.container2 {
		padding-top: 300px;
	}
	.container2 > h2 {
  		text-align: center;
  		padding-top: 20px;
  		padding-left:5px;
  	}

  	.left_column {
  		width:375px;
  		margin:auto;
  		padding-left: 30px;
  	}

  	.left_column>img{
  		width: 300px;
  		height: 225px;
  	}

  	.right_column{
  		font-size:14px;
  		margin: auto;
  	}
  	.container6{
  		margin:20px;
  		padding-top: 110px;
  	}
  	.container8>h3{
  		margin: 20px;
  	}
}


